@import "./../colors";

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $colorPrimaryLight;
}

.app {
  //background: $colorPrimary;
  font-size: 16px;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.list-item {
  display: flex;
  flex-direction: column;
  //flex-grow: 1;
  flex-basis: 30%;
  margin-bottom: 2rem;
}

.list-item--image {
  max-width: 100%;
  overflow: hidden;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  img {
    width: 130%;
  }
}

.list-item--name {
  margin-top: 0.5rem;
}

.list-item--price {
  margin-top: 0.5rem;
  font-weight: bold;
  &:after {
    content: '₽';
    padding-left: 0.5rem;
  }
}