@import "../colors";

.search-filter {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  flex-wrap: nowrap;
}

.search-filter--input {
  width: 60%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.06);

  input {
    //width: 100%;
    flex-grow: 1;
    height: 3rem;
    padding: 1rem;
    border-radius: 6px 0 0 6px;
    border: none;
    outline: none;
  }

  button {
    width: 10%;
    //font-weight: 700;
    font-size: 1.125rem;
    color: #fff;
    padding: 0 1rem;
    height: 100%;
    background-color: lighten($colorDark, 10%);
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;

    &:hover {
      background-color: $colorDark;
    }
  }
}