@import "./../colors";

.app-header {
  display: flex;
  flex-direction: column;
}

.app-header--menu-top {
  background: $colorPrimary;
  width: 100%;
  font-size: 0.875rem; // 14px
}

.app-header--menu-top-inner {
  max-width: 1200px;
  height: 3rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
}

.app-header--burger-menu {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  //background-color: lighten($colorPrimaryLight, 10%);
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;

  &:hover {
    background-color: $colorPrimaryLight;
  }

  svg {
    width: 50%;
    height: auto;
  }
}

.app-header--logo {
  width: 50px;
  height: 3rem;
  display: flex;
  margin-left: 0.5rem;
  img {
    max-width: 100%;
    max-height: 3rem;
  }
}

.app-header--menu-main {
  list-style-type: none;
  height: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  //width: 60%;
  margin-left: 0.5rem;
  justify-content: space-evenly;

  li {
    line-height: 3rem;
    a {
      display: inline-block;
      color: #fff;
      height: 100%;
      flex-grow: 1;
      padding: 0 0.5rem;
      white-space: nowrap;

      &:hover {
        background-color: darken($colorPrimaryLight, 20%);
      }
    }
  }
}

.app-header--menu-main-right {
  list-style-type: none;
  display: flex;
  width: 40%;
  justify-content: space-evenly;

  li {
    line-height: 3rem;
    a {
      display: inline-block;
      color: #fff;
      height: 100%;
      flex-grow: 1;
      padding: 0 0.5rem;
      white-space: nowrap;

      &:hover {
        background-color: darken($colorPrimaryLight, 20%);
      }
    }
  }
}

.app-header--menu-bottom {
  width: 100%;
  font-size: 0.875rem; // 14px
  border-bottom: 1px solid lighten($color3, 40%);
}

.app-header--menu-bottom-inner {
  max-width: 1200px;
  //width: 100%;
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 1rem;
}

.app-header--menu-sub-left,
.app-header--menu-sub-right {
  list-style-type: none;
  height: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  //margin-left: 0.5rem;
  flex-grow: 1;
  //justify-content: space-evenly;

  li {
    display: inline-block;
    padding: 0 1rem;
    a {
      flex-grow: 1;
      padding: 0 0.5rem;
      white-space: nowrap;
      color: lighten($colorDark, 40%);

      &:hover {
        color: $colorDark;
      }
    }
  }
}

//.app-header--menu-sub-left {
//  justify-self: flex-start;
//}
.app-header--menu-sub-right {
  align-content: flex-end;
}